
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - SoC</title>

  <base href="http://localhost:5000">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <style>@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css");

.red {
  color: red;  
}

.page-header {
  text-align: center;
  padding-top: 0em;
  margin-top: 0em;
}
.page-header h2, small {
  padding: 0.2em;
  margin: 0em;
}

form button {
  float: right;
}</style>

</head>

<body>

  <div class="page-header"><h2>SoC</h2><small>based on fabulas</small></div><div  ng-app="app" id="app" class="container">
  <!-- another controller -->
  <div ng-controller="getCoursesController" class="container">
    <h4>Search Course</h4>
    <div class="input-group">
      <input type="text" placeholder="Course Title" ng-model="query" class="form-control" />
      <span class="input-group-btn">
        <button ng-click="queryCourses()" class="btn btn-default">Search</button>
      </span>
    </div>
    <h5 class="form-group">The following are courses retrieved from server:</h5>
    <input ng-model="keyword" placeholder="Keyword" class="form-control form-group">    
    <ul class="list-group">
      <!-- loop and phones is varible created by contoller function -->
      <li ng-repeat="course in courses | filter:keyword" class="list-group-item">
        <span>{{course.offeringUnitCode}}:{{course.subject}}:{{course.courseNumber}}</span> - <span>{{course.title}}</span>
        <ul class="list-group">
          <li ng-repeat="section in course.sections | filter:keyword" class="list-group-item">
            <span>{{section.number}}</span> : <span>{{section.index}}</span>
            <ul>
              <li ng-repeat="meeting in section.meetingTimes | filter:keyword" class="list-group-item">
                                <span>{{meeting.meetingDay}}</span> <span>{{meeting.startTime}}</span> - <span>{{meeting.endTime}}</span> : 
                <span>{{meeting.campusAbbrev}}</span> / <span>{{meeting.buildingCode}}</span> / <span>{{meeting.roomNumber}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <script>
    var app = angular.module('app', []);
app.controller('getCoursesController', function ($scope, $http) {
  $scope.getCourses = function() {
    /*$http.get('http://googledrive.com/host/0B6je2AZgkSdsRFBBT25nOTV5aTQ/test.json').
*/
    $http.get('http://localhost:5000/static/sas.json.gz').success(function (resp) {$scope.getCoursesSuccess(resp)}).
    	error(function (resp) {$scope.error(resp)});
		/*    
    $scope.getCoursesSuccess({"data": [
      {"id":"53341", "title":"Math 101"},
      {"id":"53342", "title":"Math 102"},
      {"id":"53343", "title":"Math 103"}      
    ]}, "message":"Courses Retrieved");
		*/  
  }

  $scope.queryCourses = function() {
    $scope.getCourses();
  }

  $scope.getCoursesSuccess = function(resp) {
    if (resp) $scope.courses = resp;
  }

  $scope.error = function(data) {
    $scope.status = "error";
  }

  //initial users load
  $scope.getCourses();
});

// NO need to use $scope.$apply with scope function
function refresh() {
  var appElement = $('[ng-controller=getUsersController]');
  var appScope = angular.element(appElement).scope();
  appScope.getUsers();
}

// use $scope.$apply to update scope data with non-scope function
function setMessage(msg) {
  var appElement = $('[ng-controller=createUsersController]');
  var appScope = angular.element(appElement).scope();
  appScope.$apply(function(){
    appScope.message = msg;
  })
}
    //@ sourceURL=pen.js
  </script>

</body>

</html>