
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Fabulas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">

  <title>fabuslas</title>

  <style>@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css");

html, body { 
  overflow: hidden; 
  height: 100% 
}

body {
  margin: 0;
  padding: 0;
}

/* slideout */
.slideout {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0px solid black;
}

.slideout > input {
  display: none;
}

.slideout > input[type=checkbox]:checked ~ .main {
  left: 60%;
  transition: all 0.2s;
  overflow: hidden;
}

.slideout > .main, .menu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
}

.slideout > .main {
  overflow: scroll;
  transition: all 0.2s;
}

.slideout > .menu {
  width: 60%;
}

/* multiview  */
.multiview  {
  width: 100%;
  height: 100%;
  border: 0px solid black;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.multiview > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  text-align: center;
}

.multiview > input[type=radio] {
  display: none;
}

.multiview > input[type=radio]:checked + div {
  left: 0;
  transition: all 0.2s;
}

/* customization */
.slideout > .menu, .main {
  background-color: #333333;
  color: white;
}

.slideout > .menu {
  background-color: #222222;
  color: white;
}

.slideout > .menu ul {
  margin: 0;
  padding: 0.5em 1em;
}

.slideout > .menu ul li {
  list-style: none;
  padding: 0.5em 0;
  font-size: 1.2em;
}

.slideout > .main > span {
  display: block;
  font-family: FontAwesome;
  padding: 0.75em 0.75em;
  font-size: 1.4em;
}

.list-group-item {
  color: black;
  text-align: left;
}</style>

</head>

<body>

  <div class="slideout" ng-app="app" id="app"><input type="checkbox" /><div class="menu">
    <ul onclick="$('.slideout > input[type=checkbox]').click()">
      <li onclick="$('.multiview > input[type=radio]')[0].click()">Login</li>
      <li onclick="$('.multiview > input[type=radio]')[1].click()">Manage Users</li>
      <li onclick="$('.multiview > input[type=radio]')[2].click()">Registration</li>
      <li ng-controller="logoutController" class="container" ng-show="global.user" ng-click="logout()">Logout</li>
    </ul>
  </div>

  <div class="main">
    <span onclick="$('.slideout > input[type=checkbox]').click()" class="fa-bars">
    </span>
    <div class="multiview">

      <input type="radio" name="view" checked />
      <div>
        <div ng-controller="logoutController" class="container" ng-show="global.user">
        <a ng-click="logout()">Logout</a>
        </div>

        <div ng-controller="loginController" class="container" ng-show="! (global.user)">
          <h4>Login</h4>
          <!-- set action and method for regular form submt -->
          <form action="" ng-submit="login()" role="form"> 
            <div ng-class="{'red':errors.email}" class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input type="text" name="username" placeholder="Email" ng-model="inputs.username" class="form-control"> 
              </div>
              <span ng-show="errors.email">{{errors.email}}</span> 
            </div>

            <div ng-class="{'red':errors.password}" class="form-group"> 
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input type="text" name="password" placeholder="Password" ng-model="inputs.password" class="form-control"> 
              </div>
              <span ng-show="errors.password">{{errors.password}}</span> 
            </div>

            <!-- <button type="submit">Sync Submit</button> -->
            <input type="submit" class="btn btn-primary" value="Login"></input>
            <a onclick="$('.multiview > input[type=radio]')[2].click()">Register new user</a>
          </form>
        </div>
      </div>

      <input type="radio" name="view" />
      <div ng-controller="getUsersController" class="container" ng-show="global.user">
        <h4>Search User</h4>
        <div class="input-group">
          <input type="text" placeholder="Email" ng-model="query" class="form-control" />
          <span class="input-group-btn">
            <button ng-click="queryUsers()" class="btn btn-default">Search</button>
          </span>
        </div>
        <h5 class="form-group">The following are users retrieved from server:</h5>
        <input ng-model="keyword" placeholder="Keyword" class="form-control form-group">    
        <ul class="list-group">
          <!-- loop and phones is varible created by contoller function -->
          <li ng-repeat="user in users | filter:keyword" class="list-group-item">
            <span ng-click="deleteUser({{user.id}})" class="badge">x</span>
            <span>{{user.id}}</span> - <span>{{user.email}}</span>
          </li>
        </ul>
      </div>

      <input type="radio" name="view" />
      <div ng-controller="createUserController" class="container">
        <h4>Create User</h4>
        <!-- set action and method for regular form submt -->
        <form action="/users" method="post" role="form"> 
          <div ng-class="{'red':errors.email}" class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input type="text" name="email" placeholder="Email" ng-model="inputs.email" class="form-control"> 
            </div>
            <span ng-show="errors.email">{{errors.email}}</span> 
          </div>

          <div ng-class="{'red':errors.password}" class="form-group"> 
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input type="text" name="password" placeholder="Password" ng-model="inputs.password" class="form-control"> 
            </div>
            <span ng-show="errors.password">{{errors.password}}</span> 
          </div>

          <!-- <button type="submit">Sync Submit</button> -->
          <button type="button" ng-click="createUser()" class="btn btn-primary">Register</button>
        </form>
      </div>

    </div>
  </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/angular.min.js"></script>

  <script>
    var app = angular.module('app', []);

app.factory("service", function() {
  return { global: { user: null } }
});

app.controller('getUsersController', function ($scope, $http, service) {
  $scope.global = service.global;

  $scope.getUsers = function() {
    //$http.get('users).
    //use jsonp instead of get to do local quick prototype
    $http.jsonp('/json/users?callback=JSON_CALLBACK').
      success(function (resp) {$scope.getUsersSuccess(resp)}).
      error(function (resp) {$scope.error(resp)});

    //simulate with fake response
    //$scope.getUsersSuccess({"data": [{"email":"fei@me.com", "password":"fei"}]}, "message":"Users Retrieved");
  }
  $scope.queryUsers = function() {
    if ($scope.query) {
      //$http.get('users/query?email='+$scope.query).
      //use jsonp instead of get to do local quick prototype
      $http.jsonp('/json/users/query?callback=JSON_CALLBACK&'+'email='+$scope.query).
        success(function (resp) {$scope.getUsersSuccess(resp)}).
        error(function (resp) {$scope.error(resp)});
    } else {
      $scope.getUsers();
    }
  }
  $scope.getUsersSuccess = function(resp) {
    if (resp.errors) $scope.errors = resp.errors;
    if (resp.message) $scope.message = resp.message;
    if (resp.data) $scope.users = resp.data;
    console.log("users loaded");
  }

  $scope.deleteUser = function(id) {
    //$http.delete('/users/'+id).
    //use jsonp with special url to do quick local test
    $http.jsonp('/json/users/delete/'+id+'?callback=JSON_CALLBACK').
      success(function (resp) {$scope.deleteUsersSuccess(resp)}).
      error(function (resp) {$scope.error(resp)});    
  }
  $scope.deleteUsersSuccess = function(resp) {
    if (resp.errors) $scope.errors = resp.errors;
    if (resp.message) $scope.message = resp.message;
    console.log("user deleted");
    //make sure get users after delete completed
    $scope.getUsers();
  }

  $scope.error = function(data) {
    $scope.status = "error";
  }

  //initial users load
  //$scope.getUsers();
});

app.controller('loginController', function ($scope, $http, service) {
  $scope.global = service.global;
  $scope.form = {"inputs": {}, "errors": {}};

  $scope.login = function() {
    //$http.post('/static/login', $scope.form.inputs).
    //use jsonp and special get to do local quick prototype
    $http.jsonp('/static/login?callback=JSON_CALLBACK&'+decodeURIComponent($.param($scope.inputs))).
      success(function(resp) {$scope.loginSuccess(resp);});

    //use fake response to simulate
    //resp = {"errors": {"email": "Invalid Email"}, "message": "Errors"};
    //$scope.createUserSuccess(resp);
  };
  $scope.loginSuccess = function(resp) {
    if (resp.errors) $scope.errors = resp.errors;
    if (resp.message) $scope.message = resp.message;
    if (resp.data) $scope.global.user = resp.data;
    // invoke another controller
    refresh();
    $('.multiview > input[type=radio]')[1].click();
  };

  $scope.error = function(resp) {
    $scope.status = "error";
  }
});

app.controller('logoutController', function ($scope, $http, service) {
  $scope.global = service.global;

  $scope.logout = function() {
    //$http.post('/logout', $scope.form.inputs).
    //use jsonp and special get to do local quick prototype
    $http.jsonp('/logout?callback=JSON_CALLBACK').
      success(function(resp) {$scope.logoutSuccess(resp);});

    //use fake response to simulate
    //resp = {"errors": {"email": "Invalid Email"}, "message": "Errors"};
    //$scope.createUserSuccess(resp);
  };
  $scope.logoutSuccess = function(resp) {
    if (resp.errors) $scope.errors = resp.errors;
    if (resp.message) $scope.message = resp.message;
    service.global.user = null;
    $('.multiview > input[type=radio]')[0].click();
  };

  $scope.error = function(resp) {
    $scope.status = "error";
  }
});

app.controller('createUserController', function ($scope, $http, service) {
  $scope.global = service.global;
  $scope.show = false;
  $scope.form = {"inputs": {}, "errors": {}};

  $scope.createUser = function() {
    //$http.post('/users', $scope.form.inputs).
    //use jsonp and special get to do local quick prototype
    $http.jsonp('/static/json/users/create?callback=JSON_CALLBACK&'+decodeURIComponent($.param($scope.inputs))).
      success(function(resp) {$scope.createUserSuccess(resp);});

    //use fake response to simulate
    //resp = {"errors": {"email": "Invalid Email"}, "message": "Errors"};
    //$scope.createUserSuccess(resp);
  };
  $scope.createUserSuccess = function(resp) {
    if (resp.errors) $scope.errors = resp.errors;
    if (resp.message) $scope.message = resp.message;
    // invoke another controller
    refresh();
    $('.multiview > input[type=radio]')[0].click();
  };

  $scope.error = function(resp) {
    $scope.status = "error";
  }
});

// NO need to use $scope.$apply with scope function
function refresh() {
  var appElement = $('[ng-controller=getUsersController]');
  var appScope = angular.element(appElement).scope();
  appScope.getUsers();
}

// use $scope.$apply to update scope data with non-scope function
function setMessage(msg) {
  var appElement = $('[ng-controller=createUsersController]');
  var appScope = angular.element(appElement).scope();
  appScope.$apply(function(){
    appScope.message = msg;
  })
}
    //@ sourceURL=pen.js
  </script>

</body>

</html>